@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-sky-400 p-6 md:w-4/6 sm:w-5/6 m-3 place-self-center rounded-lg;
  }
  .input{
    @apply border-2 rounded h-10 md:w-64 sm:w-full mb-3;
  }
  .button{
    @apply bg-black text-white px-4 py-2 rounded mr-6;
  }
  body{
    /*@apply bg-black;*/
  }
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
